/* .search-container{
   
    justify-content: flex;
    margin-bottom: 20px;
}
.rc1-search, .rc2-search, .rc-3-search, .zs1-search, .zs2-search, .zs3-search, .nfp-search, .etabar-search{
    border: 1px solid #ccc;
    padding: 5px;
} */