{% extends "base.html" %}

{% block title %} Stellarator {% endblock title %}

{% block head %}
<style>
    .display-6 {
        font-size: 1.25rem !important;
    }
</style>
{% endblock head %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>A Repository of Quasi-symmetric Stellarator Designs</h1>
    <div class="row d-flex align-items-center justify-content-center" style="margin-top:100px;">
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
            <p class="display-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula auctor metus,
                The QUASAR repository houses a vast collection of over 370,000 innovative, curl-free stellarator
                configurations, each paired with optimized coil sets designed to achieve volume quasi-symmetry.
            </p>
            <p class="display-6">
                With the "Launch Navigator" feature, you can explore the QUASAR database effortlessly. Identify
                configurations that capture your interest and dive deeper with a single click to access detailed views.
                Each record offers in-depth information, including interactive 3D models, magnetic field configurations,
                and Poincaré plots for comprehensive analysis.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='main.jpg') }}" class="img-fluid rounded" alt="About us image">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column mb-5">
        <h2>Select a Stellarator Configuration</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-bordered mt-2">
                    <thead>
                        <tr>
                            <th>View Plot</th>
                            <th>ID</th>
                            <th>rc1</th>
                            <th>rc2</th>
                            <th>rc3</th>
                            <th>zs1</th>
                            <th>zs2</th>
                            <th>zs3</th>
                            <th>nfp</th>
                            <th>etabar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config in configs %}
                        <tr>
                            <td>
                                <a href="{{ url_for('plot', config_id=config[0]) }}">View</a>
                            </td>
                            <td>{{ config[0] }}</td>
                            <td>{{ config[1] }}</td>
                            <td>{{ config[2] }}</td>
                            <td>{{ config[3] }}</td>
                            <td>{{ config[4] }}</td>
                            <td>{{ config[5] }}</td>
                            <td>{{ config[6] }}</td>
                            <td>{{ config[7] }}</td>
                            <td>{{ config[8] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    new DataTable('#example');
</script>
{% endblock js %}