body {
  background-color: #000000;
}

@media (min-width: 768px) {
  /* Adjusts for md breakpoint */
  .custom-mt-above-md {
    margin-top: 0 !important; /* Overrides Bootstrap's mt-5 below md */
  }
}

.w-15 {
  width: 15%;
}

.mb-10 {
  margin-bottom: 6rem;
}
